body {
    background: url('../images/background.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: arial;
}

.logo {
    width: 80px;
    height: 60px;
    background: url('../images/logo.png') no-repeat;
    margin: 30px auto;
	padding-top:14px;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid rgba(234, 99, 113, 1);
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block .inputClass {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid rgba(234, 99, 113, 1);
}

.button {
    width: 49%;
    height: 40px;
    background: rgba(234, 99, 113, 1);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(234, 99, 113, 1);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: arial;
    outline: none;
    cursor: pointer;
}
#submitbutton{
//	width: 50%;
	height: 40px;
}

.button:hover {
    background: #fff;
	border: 1px solid rgba(234, 99, 113, 1);
	color: rgba(234, 99, 113, 1);
}
